{
    "presets": [
        "stage-3",
        "react",
        [
            "env", {
                "modules" : false
            }
        ]
    ],
    "plugins": [
        "transform-class-properties"
    ]
}